{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="col h-100">
        <article class="row fw-w lg_w-70 m-auto mh-45vh sm_ta-c p-2">
            <h2 class="fs-2">
                Advertise your tech products or company
            </h2>

            <p>Are you looking for a way to promote your tech-related product or company? Look no further than TechieBio's blog! Our audience is made up of tech enthusiasts, entrepreneurs, and industry leaders from around the world.</p>
            <br>
            <p>With our sponsored content options, you can showcase your brand and offerings to a targeted and engaged audience. Plus, our SEO-friendly format ensures that your content will be discoverable and drive traffic to your website.</p>
            <br>
            <p>Ready to get started? Call us now to speak with a member of our team and learn more about our advertising options.</p>

            <br>
            <br>
            <br>
            <a href="tel:+2349080347640" class="btn success hover_success-alt w-100"> Call Us Now +2349080347640 </a>
        </article>

    </section>

{% endblock content %}