{% extends 'base.html' %}
{% load static %}

{% block title %} {{ article.title }} | Techiebio {% endblock %}

{% block description %}{{ article.about }}{% endblock %}

{% block keywords %}
    bio, {{ article.title }}, {{ article.content |truncatewords:20 }} {{ article.metakeywords }}
{% endblock %}

{% block content %}

    <!-- Start : Home Section -->
    <section id="detail" class="container">
        <article class="col epic_align-left m-auto p-2">
            <h1 class="fs-2"> {{ article.title }} </h1>
            <a class="f-grey"> 
                <span class="bold">{{ article.hit_count.hits }} {{ article.hit_count.hits|pluralize:"view,views" }} <i class="ep-eye-fill f-grey"></i> </span> {{article.updated}} </a>
            
            <div class="gap h-25px"></div>
            <div class="md_w-50 bdrs m-auto">
                <img src="{{ article.image }}" alt="{{article.title}}" srcset="">
            </div>
            <div class="container mlr-0 plr-0 pbt-1">
                {% for tag in object.tags.all %}
                    <a class="fs-7 bg-grey f-black hover_f-col" href="/articles/?content={{tag.name}}">#{{ tag.name }}</a>
                {% endfor %}
            <!-- <div class="gap lg_dp-none"></div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button type="submit">Like</button>
                    </form>
                    <br>
                </div> -->
            <p class="w-70">
                {{ article.content | safe }}
            </p>
        </article>
    </section>

{% endblock content %}
