{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="col h-100">
        <article class="row fw-w lg_w-70 m-auto mh-45vh p-2 sm_ta-c">
            <h1 class="fs-4 w-100">
                Hello Techbro/Techsis,
            </h1>
            <p>
                Do you want your bio to be featured on our website?
                <br>
                <br>
                By sharing your bio with us, you'll have the opportunity to make a positive impact on the industry and inspire the next generation of tech leaders. We've created a simple form where you can submit your bio information, including your professional background, areas of expertise, and any accomplishments you'd like to highlight. The form can be accessed here <a target="_blank" href="https://forms.gle/xw1PmmaWEcwkpsYK8" class="link">Techiebio Form</a>
                <br>
                <br>
                Please note that we value your privacy and will only use the information you provide for our website. We will not share it with any third parties without your permission.
                <br>
                <br>
                Thank you for considering this opportunity. We look forward to hearing from you soon and sharing your story with our community.
            </p>
            <br>
            <br>
            <a href="https://forms.gle/xw1PmmaWEcwkpsYK8" class="btn success hover_success-alt w-100"> Start Here </a>
        </article>

    </section>

{% endblock content %}