{% load static %}

<link rel="stylesheet" href="{% static 'Packages/anim.css' %}">
<link rel="stylesheet" href="{% static 'Packages/classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/colour.css' %}">
<link rel="stylesheet" href="{% static 'Packages/epic.css' %}">
<link rel="stylesheet" href="{% static 'Packages/font.css' %}">
<link rel="stylesheet" href="{% static 'Packages/icon.css' %}">
<link rel="stylesheet" href="{% static 'Packages/lg_classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/md_classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/sm_classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/sizes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/style.css' %}">
<script src="{% static 'Packages/epic.js' %}"></script>
